@font-face {
    font-family: 'RedHatDisplay';
    src: url('./fonts/RedHatDisplay-Regular.ttf') format('.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'RedHatDisplay';
    src: url('./fonts/RedHatDisplay-Light.ttf') format('.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'RedHatDisplay';
    src: url('./fonts/RedHatDisplay-ExtraBold.ttf') format('.ttf');
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

:root {
    --text-secondary-color: rgb(161 161 170);
    --card-padding: 0 5rem;
}

.container{
    font-family: "RedHatDisplay", Arial, sans-serif;
    background: url(images/pattern-background-desktop.svg) no-repeat top;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100%;
}

.card {
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    width: 500px;
}

.card > .illustration {
    width: 100%;
}

.card > .content {
    padding: var(--card-padding);
}

.card > .content h1 {
    text-align: center;
    font-weight: bold;
    letter-spacing: -0.025em;
    color: rgba(0, 0, 0, 0.699);
    padding: 0.50rem 0;
}

.card > .content p {
    text-align: center;
    font-weight: normal;
    font-size: 1.15rem;
    color: var(--text-secondary-color);
}

.card > .content > .panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    background-color:hsl(225, 100%, 98%);
    border-radius: 20px;
    padding: 1rem;
}

.card > .content > .panel > .icon {
    flex: 0 1 auto;
}

.card > .content > .panel > .description {
    flex: 1 1 0%;
    margin: 0 1.2rem; 
}

.card > .content > .panel > .description h2 {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    opacity: 70%;
}

.card > .content > .panel > .description span {
    display: block;
    font-weight: normal;
    color: var(--text-secondary-color);
}

.card > .content > .panel > a {
    display: block;
    color: var(--text-secondary-color);
}

.card > .content > .panel > a:hover {
    color: #362BD8;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.card > form.actions {
    display: flex;
    flex-direction: column;

    padding: var(--card-padding);
    margin: 2rem auto 1.5rem auto;
}

.card > form.actions button {
    display: block;
    appearance: none;
    border: none;
    background: #382AE1;
    color: #FFFFFF;
    box-shadow: 0 10px 30px #6155E7;
    border-radius: 10px;
    padding: 1.5rem 2rem;
    margin: 1rem 0;
    font-size: 16px;
    cursor: pointer;
}

.card > form.actions button:hover {
    box-shadow: 0 5px 30px #6155E7;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.card > form.actions .cancel {
    display: block;
    text-align: center;
    margin: 1rem 0;
    text-decoration: none;
    color: var(--text-secondary-color);
}

.card > form.actions .cancel:hover {
    text-decoration: underline;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}